<button class="start" (click)="toggle()">{{text}}</button>
<section *ngIf="started">
	<blockquote>
		<strong>Click tracks to expand inner structure</strong>
    <em>
		Only important nodes are shown. Some technical
		nodes are left out (such as GainNode for volume control).
    </em>
	</blockquote>
	<beat [volume]="sound.beat">
		<label>
      <h1>Beat</h1>
      <input type="range" min="0" max="1" step="0.01" (change)="onSoundParamsChange()" [(ngModel)]="sound.beat" />
    </label>
	</beat>
	<chords [volume]="sound.chords">
		<label>
      <h1>Chords</h1>
      <input type="range" min="0" max="1" step="0.01" (change)="onSoundParamsChange()" [(ngModel)]="sound.chords" />
    </label>
	</chords>
	<lead [volume]="sound.lead">
		<label>
      <h1>Lead</h1>
      <input type="range" min="0" max="1" step="0.01" (change)="onSoundParamsChange()" [(ngModel)]="sound.lead" />
    </label>
	</lead>
	<solo [volume]="sound.solo">
		<label>
      <h1>Solo</h1>
      <input type="range" min="0" max="1" step="0.01" (change)="onSoundParamsChange()" [(ngModel)]="sound.solo" />
    </label>
	</solo>
</section>
